@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: symbols-nerds;
    src: url('../fonts/symbols-nerds/symbols-nerds.eot?2784193');
    src: url('../fonts/symbols-nerds/symbols-nerds.eot?27841936#iefix') format('embedded-opentype'), url('../fonts/symbols-nerds/symbols-nerds.woff?27841936') format('woff'), url('../fonts/symbols-nerds/symbols-nerds.ttf?27841936') format('truetype'), url('../fonts/symbols-nerds/symbols-nerds.svg?27841936#symbols-nerds') format('svg');
}
body {
    margin: 0;
    padding: 0;
    color: #283136;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
}
/*RESET*/
p,
ul,
h1,
h2,
h3,
figure {
    margin: 0;
    padding: 0;
}
a {
    color: #000;
    text-decoration: none;
}
a:focus {
    outline: none;
}
ul {
    list-style: none;
}
label {
    display: block;
}
/*СОХРАНЯЕМ ПРОПОРЦИИ*/
img {
    max-width: 100%;
    height: auto;
}
/* ОБЩИЕ СТИЛИ ДЛЯ КНОПОК */
.btn {
    display: inline-block;
    padding-top: 11px;
    padding-bottom: 11px;
    border: none;
    border-radius: 5px;
    background-color: #fb565a;
    color: #fff;
    vertical-align: baseline;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    cursor: pointer;
}

.btn:hover {
    background-color: #d6494d;
}
.btn:active {
    background-color: #b63538;
}
/*ЦЕНТРОВЩИК*/
.layot-position {
    margin: 0 auto;
    width: 880px;
}
.clearfix {
    display: table;
    clear: both;
    content: '';
}
/*СТИЛИ ДЛЯ HEADER*/
.main-header {
    margin-top: 20px;
    margin-bottom: 70px;
    background-color: #fff;
}
.main-logo {
    float: left;
    margin-right: 185px;
    max-width: 140px;
}
.main-navigator {
    float: left;
    max-width: 560px;
}
.main-menu {
    min-height: 80px;
    max-width: 560px;
    font-size: 0;
}
.main-menu li {
    display: inline-block;
    margin-right: 45px;
    padding-top: 25px;
    max-width: 90px;
    vertical-align: top;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
}
.main-menu > li:last-child {
    margin-right: 0;
}
.main-menu a:hover {
    color: #fb565a;
}
.main-menu a:active {
    color: #8f8f8f;
}
.main-menu-active a {
    display: inline-block;
    border-bottom: 2px solid #fb565a;
}
.main-menu-active a:active {
    display: inline-block;
    border-bottom: 2px solid #fb565a;
}
.main-menu-active a:hover {
    color: #000;
    cursor: default;
}
.main-recycler {
    position: relative;
    margin-left: 25px;
    padding-left: 25px;
}
.main-recycler::before {
    position: absolute;
    top: -7px;
    left: 0;
    display: inline-block;
    width: 14px;
    color: #bcbcbc;
    content: '\62';
    vertical-align: baseline;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-family: symbols-nerds;

    speak: none;
}
.main-recycler:hover::before {
    color: #fb565a;
}
.main-recycler:active::before {
    color: #cbcbcb;
    opacity: 0.9;
}
/*СЛАЙДЕР*/
.slider {
    position: relative;
    overflow: hidden;
    padding-top: 20px;
    width: 880px;
    text-align: left;
}
.slider-container {
    width: 300%;
}
.slider-item {
    float: left;
    min-width: 880px;
    min-height: 310px;
}
.slider-left-column {
    float: left;
    padding-top: 30px;
    padding-left: 1px;
}
.slider-column-design {
    width: 380px;
}
.slider-column-math,
.slider-column-drugs {
    width: 480px;
}
.slider-title {
    margin-bottom: 23px;
    font-size: 32px;
    line-height: 32px;
}
.slider-info {
    margin-bottom: 29px;
    color: #283136;
}
.slider-column-drugs .slider-title {
    width: 380px;
}
.slider-right-column {
    float: right;
    width: 340px;
}
.slider-right-column .slider-figure {
    float: right;
}
.slider-drugs-figure {
    position: absolute;
    bottom: 0;
}
.slider-design-figure {
    position: absolute;
    top: 15px;
}
.slider-math-figure,
.slider-design-figure,
.slider-drugs-figure,
.offer-item-image,
.detail-header-image,
.brand-item {
    line-height: 0;
}
.btn:active {
    box-shadow: inset 0 3px 0 0 #9b2d30;
}
.slider-btn {
    padding-right: 70px;
    padding-left: 70px;
}
/*ОЖИВЛЕНИЕ СЛАЙДЕРА*/
.slider label {
    position: absolute;
    top: 220px;
    z-index: 10;
    display: inline-block;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    vertical-align: baseline;
    cursor: pointer;
}
.slider label[for='slider-controlls-design'] {
    left: 403px;
}
.slider label[for='slider-controlls-math'] {
    left: 423px;
}
.slider label[for='slider-controlls-drugs'] {
    left: 443px;
}
.slider-controlls-design:checked ~ .slider-container {
    -webkit-transform: translate(0);
    transform: translate(0);
}
.slider-controlls-math:checked ~ .slider-container {
    -webkit-transform: translate(-880px);
    transform: translate(-880px);
}
.slider-controlls-drugs:checked ~ .slider-container {
    -webkit-transform: translate(-1760px);
    transform: translate(-1760px);
}
.slider-container {
    -webkit-transition: -webkit-transform 0.6s ease;
    transition: -webkit-transform 0.6s ease;
    transition: transform 0.6s ease;
    transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}
.slider-controlls-design:checked ~ label[for='slider-controlls-design']::before,
.slider-controlls-math:checked ~ label[for='slider-controlls-math']::before,
.slider-controlls-drugs:checked ~ label[for='slider-controlls-drugs']::before {
    position: absolute;
    top: -5px;
    left: 3px;
    z-index: 100;
    width: 4px;
    height: 4px;
    color: #fb565a;
    content: '•';
    cursor: pointer;
}
.slider input {
    display: none;
}
/*БЛОК УСЛУГИ*/
.main-service {
    margin-bottom: 150px;
    font-size: 15px;
}
.service-left {
    float: left;
    margin-right: 80px;
    width: 240px;
}
.service-center {
    float: left;
    margin-right: 80px;
    width: 240px;
}
.service-columns {
    margin-top: 25px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
}
.main-service p {
    display: block;
    margin-bottom: 25px;
}
.service-cite-btn,
.servise-app-btn,
.service-present-btn {
    padding-right: 41px;
    padding-left: 41px;
}
.service-right {
    float: right;
    width: 240px;
}
/*ОСНОВНОЙ КОНТЕНТ*/
.content-left {
    float: left;
    margin-right: 40px;
    width: 600px;
}
.content-left-title,
.footer-right-title {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 36px;
}
.content-list {
    margin-top: 25px;
}
.content-ultitle {
    display: block;
    margin-top: 42px;
    text-transform: uppercase;
}
.content-list li {
    position: relative;
    margin-bottom: 20px;
    margin-left: 37px;
}
.content-list li::before {
    position: absolute;
    top: 8px;
    left: -38px;
    width: 25px;
    border: 1px solid #fb565a;
    content: '';
}
.content-right {
    float: right;
    width: 240px;
}
.content-image {
    margin-top: -20px;
    margin-bottom: 70px;
    margin-left: 10px;
}
/*ПОРТФОЛИО*/
.content-siteslogo {
    margin-top: 100px;
    margin-bottom: 110px;
    font-size: 0;
}
.content-siteslogo > a {
    display: inline-block;
    margin-right: 120px;
    vertical-align: middle;
    opacity: 0.2;
}
.content-siteslogo > a:first-child {
    margin-left: 10px;
}
.content-siteslogo > a:nth-child(3n) {
    margin-right: 10px;
}
.content-siteslogo > a:hover {
    opacity: 1;
}
/*БЛОК КАРТА*/
.main-content-map {
    position: relative;
    margin: 0 auto;
    margin-bottom: 55px;
    min-height: 420px;
    background: url('../img/map.png') no-repeat 60% 50%;
}
.content-map-block {
    position: absolute;
    top: 90px;
    left: 40px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 25px;
    padding-left: 25px;
    width: 200px;
    background-color: #fff;
}
.content-map-block p {
    text-align: center;
}
.map-block-title {
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    line-height: 30px;
}
.map-block-info {
    margin-bottom: 20px;
}
.btn-map {
    margin-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
}
.map-script {
    margin: 0 auto;
    height: 420px;
}

/*ФУТЕР*/
.main-footer {
    margin-top: 80px;
    margin-bottom: 40px;
}
.footer-social {
    float: left;
    margin-right: 70px;
    width: 240px;
}
.footer-social > a {
    display: inline-block;
    margin-right: 20px;
    width: 60px;
    height: 60px;
    vertical-align: baseline;
}
.footer-social a:last-child {
    margin-right: 0;
}
.social-btn {
    position: relative;
    margin-right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #e1e1e1;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    line-height: 60px;
}
.social-btn:hover {
    background-color: #fb565a;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
}
.social-btn:active {
    background-color: #d6494d;
    box-shadow: inset 0 3px 0 0 #b63e42;
}
.social-btn-vk::before {
    position: absolute;
    top: 20px;
    left: 16px;
    display: inline-block;
    width: 20px;
    color: white;
    content: '\76';
    vertical-align: baseline;
    text-transform: none;
    font-weight: 400;
    font-style: normal;
    font-family: symbols-nerds;
    line-height: 20px;
}
.social-btn-fb::before {
    position: absolute;
    top: 20px;
    left: 16px;
    display: inline-block;
    width: 25px;
    color: white;
    content: '\66';
    vertical-align: baseline;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-family: symbols-nerds;
    line-height: 25px;
}
.social-btn-inst::before {
    position: absolute;
    top: 20px;
    left: 16px;
    display: inline-block;
    width: 25px;
    color: white;
    content: '\1f4f7';
    vertical-align: baseline;
    text-decoration: inherit;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-family: symbols-nerds;
    line-height: 25px;
}
.footer-right {
    float: right;
    width: 560px;
}
.footer-right p {
    display: block;
    margin-top: 10px;
    color: #283136;
}

/*ВСПЛЫВАЮЩЕЕ ОКНО*/
@-webkit-keyframes loader {
    0% {
        -webkit-transform: translateY(2000px);
        transform: translateY(2000px);
    }
    25% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    50% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes loader {
    0% {
        -webkit-transform: translateY(2000px);
        transform: translateY(2000px);
    }
    25% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    50% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    display: none;
    margin-top: -230px;
    margin-left: -310px;
    padding-top: 54px;
    padding-right: 90px;
    padding-bottom: 50px;
    padding-left: 80px;
    width: 460px;
    background: #fff;
    box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
}
.modal-left-column {
    float: left;
    margin-right: 20px;
    width: 220px;
}
.modal-right-column {
    float: right;
    width: 220px;
}
.modal-right-column input,
.modal-left-column input {
    width: 186px;
}
.modal textarea {
    width: 425px;
}
.modal input,
.modal textarea {
    padding: 8px 15px;
    outline: none;
    border: 2px solid #d7dcde;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    line-height: 18px;
}
.modal textarea {
    padding-bottom: 15px;
}
.modal input:hover,
.modal textarea:hover {
    border: 2px solid #a2a9ac;
    border-radius: 5px;
}
.modal input:focus,
.modal textarea:focus {
    border: 2px solid #56bffb;
    border-radius: 5px;
}
.modal label {
    margin-bottom: 10px;
}
.modal-user {
    margin-bottom: 20px;
}
.modal textarea {
    margin-bottom: 45px;
}
.modal-btn {
    width: 220px;
    outline: none;
}
.modal-circle-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fb565a;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    line-height: 40px;
}
.modal-circle-btn:hover {
    background-color: #d6494d;
}
.modal-circle-btn:active {
    background-color: #b63538;
}
.modal-circle-btn::after {
    position: absolute;
    top: 17px;
    left: 8px;
    width: 25px;
    height: 5px;
    background: white;
    color: white;
    content: '';
    font-weight: normal;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.modal-circle-btn::before {
    position: absolute;
    top: 17px;
    left: 8px;
    width: 25px;
    height: 5px;
    background: white;
    color: white;
    content: '';
    font-weight: normal;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.modal-show {
    display: block;
    -webkit-animation: loader 1s ease-in-out 1;
    animation: loader 1s ease-in-out 1;
}
/*СТРАНИЦА КАТАЛОГ*/
.catalog {
    margin-bottom: 60px;
}
.catalog-title {
    margin: 0 auto;
    margin-bottom: 160px;
    width: 700px;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 52px;
}
.catalog-left-column {
    float: left;
    margin-right: 80px;
    width: 240px;
}
.catalog-right-column {
    float: left;
    width: 560px;
}
.catalog-filter-title {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 30px;
}
.catalog-grid-title {
    margin-top: 45px;
}
.catalog-features-title {
    margin-top: 45px;
}
.filter-btn {
    margin-top: 40px;
    padding-right: 42px;
    padding-left: 50px;
    outline: none;
    border: none;
    background-color: #f1f1f1;
    color: black;
}
.filter-btn:hover {
    background-color: #e5e5e5;
    color: black;
}
.filter-btn:active {
    padding-top: 10px;
    background-color: #d5d5d5;
    box-shadow: inset 0 3px 0 0 #b5b5b5;
    color: black;
}

/*ФИЛЬТР ЦЕНЫ*/
.catalog-filter-controls {
    position: relative;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 30px;
    padding-bottom: 39px;
    padding-left: 30px;
    min-height: 2px;
    border-radius: 5px;
    background-color: #f1f1f1;
}
.catalog-filter-scale {
    height: 2px;
    background-color: #d7dcde;
}
.catalog-scale-bar {
    width: 80%;
    height: 2px;
    background-color: #00ca74;
}
.catalog-filter-controls .catalog-scale-toggle {
    position: absolute;
    top: 29px;
    width: 4px;
    height: 4px;
    border: 8px solid white;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}
.catalog-min-toggle {
    left: 20px;
}
.catalog-max-toggle {
    left: 160px;
}
.catalog-price-controls input {
    padding: 8px 10px;
    width: 60px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
    color: #283136;
    text-align: center;
}
.catalog-controls-left {
    float: left;
}
.catalog-controls-right {
    float: right;
}
.catalog-min-price,
.catalog-max-price {
    margin-left: 5px;
}
.catalog .catalog-label {
    position: relative;
    margin-bottom: 20px;
    margin-left: 35px;
    cursor: pointer;
}
input[type='checkbox']:disabled + .catalog-label,
input[type='radio']:disabled + .catalog-label {
    opacity: 0.65;
}
input[type='radio'] + .catalog-label::before {
    position: absolute;
    left: -35px;
    display: inline-block;
    width: 10px;
    color: #bcbcbc;
    content: '\25cb';
    vertical-align: baseline;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: 28px;
    font-family: symbols-nerds;

    speak: none;
}
input[type='radio']:checked + .catalog-label::before {
    position: absolute;
    left: -35px;
    display: inline-block;
    width: 10px;
    color: #bcbcbc;
    content: '\25cf';
    vertical-align: baseline;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: 28px;
    font-family: symbols-nerds;

    speak: none;
}
input[type='checkbox'] + .catalog-label::before {
    position: absolute;
    left: -35px;
    display: inline-block;
    width: 10px;
    color: #bcbcbc;
    content: '\2610';
    vertical-align: baseline;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: 28px;
    font-family: symbols-nerds;

    speak: none;
}
input[type='checkbox']:checked + .catalog-label::before {
    position: absolute;
    left: -35px;
    display: inline-block;
    width: 10px;
    color: #bcbcbc;
    content: '\2611';
    vertical-align: baseline;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: 28px;
    font-family: symbols-nerds;

    speak: none;
}
.catalog-label {
    color: #283136;
}
.catalog-label:hover {
    color: black;
}
input[type='checkbox'] + .catalog-label:hover::before,
input[type='radio'] + .catalog-label:hover::before {
    color: grey;
}
input[type='radio']:disabled + .catalog-label,
input[type='checkbox']:disabled + .catalog-label,
input[type='radio']:disabled + .catalog-label:hover::before,
input[type='checkbox']:disabled + .catalog-label:hover::before {
    color: #bcbcbc;
}
.catalog-left-column input[type='radio'],
.catalog-left-column input[type='checkbox'] {
    display: none;
}
/*ПАГИНАТОР*/
.catalog-paginator {
    font-size: 0;
}
.catalog-paginator a {
    display: inline-block;
    margin-right: 10px;
    padding: 11px 16px;
    border-radius: 4px;
    background-color: #f1f1f1;
    vertical-align: baseline;
    font-size: 12px;
}
a.catalog-paginator-next {
    padding-right: 32px;
    padding-left: 32px;
}
.catalog-paginator a:hover {
    background-color: #e5e5e5;
}
.catalog-paginator a:active:not(:first-child) {
    background-color: #d5d5d5;
    box-shadow: inset 0 3px 0 0 #b5b5b5;
}
.catalog-paginator-active {
    border: 2px solid #f2f2f2;
    background-color: white;
}

/*ОСНОВНОЙ БЛОК КАТАЛОГА*/
.catalog-sort {
    padding-bottom: 16px;
}
.catalog-sort-option {
    border-bottom-width: thin;
    border-bottom-style: dotted;
    border-bottom-color: #00ca74;
    color: #c9c9c9;
}
.catalog-sort .active {
    border-bottom-color: #fff;
    color: black;
}
.catalog-sort span,
.catalog-sort a {
    display: inline-block;
    margin-right: 40px;
    vertical-align: top;
    font-size: 12px;
    line-height: 18px;
}
.catalog-sort a:hover {
    border-bottom-style: solid;
    color: black;
}
.catalog-sort a:active {
    border-bottom-style: none;
    color: black;
}
.catalog-arrow-block {
    float: right;
}
.catalog-arrow-block a {
    text-decoration: none;
}
.catalog-arrow-block a:hover {
    border-bottom: none;
}
a.catalog-arrow-up {
    margin-right: 0;
    text-align: right;
}
a.catalog-arrow-down {
    margin-right: 10px;
    text-align: right;
}
a.catalog-arrow-active::before,
a.catalog-arrow-active:hover::before {
    color: #00ca74;
}
.catalog-arrow-up::before {
    display: inline-block;
    color: #c1c1c1;
    content: '\25b2';
    vertical-align: baseline;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: 20px;
    font-family: symbols-nerds;

    speak: none;
}
.catalog-arrow-up:active::before,
.catalog-arrow-down:active::before {
    color: black;
}
.catalog-arrow-up:hover::before,
.catalog-arrow-down:hover::before {
    color: #b5b5b5;
}
.catalog-arrow-down::before {
    display: inline-block;
    margin-right: 0;
    color: #c1c1c1;
    content: '\25bc';
    vertical-align: baseline;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: 20px;
    font-family: symbols-nerds;

    speak: none;
}
/* ПУНКТЫ В КАТАЛОГЕ */
.catalog-item {
    position: relative;
    top: 30px;
    display: inline-block;
    margin-bottom: 104px;
    text-decoration: none;
}
.catalog-item::after {
    position: absolute;
    top: -25px;
    left: 10px;
    color: white;
    content: '•••';
    font-size: 45px;
}
.catalog-item::before {
    position: absolute;
    top: -30px;
    width: 240px;
    height: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #f1f1f1;
    content: '';
}
.catalog-item:hover::before {
    position: absolute;
    top: -30px;
    width: 240px;
    height: 30px;
    background: #797979;
    content: '';
}
.catalog-item:hover > .catalog-item-block {
    display: block;
}
.catalog-item-block {
    position: absolute;
    top: 20px;
    left: 20px;
    display: none;
    padding: 25px;
    min-height: 120px;
    width: 150px;
    background-color: white;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
}
.catalog-item-title {
    margin-bottom: 20px;
    color: black;
    text-transform: uppercase;
}
.item-title-modern {
    margin-bottom: 10px;
    line-height: 20px;
}
.catalog-item-info {
    margin-bottom: 30px;
    color: #283136;
}
.item-info-modern {
    margin-bottom: 20px;
}
.item-info-avia {
    font-size: 13px;
}
.catalog-item-btn {
    width: 100%;
    font-size: 18px;
}
.catalog-item:nth-child(2n) {
    margin-right: 0;
}
.catalog-item:nth-child(2n+1) {
    margin-right: 75px;
}
.catalog-price-title {
    line-height: 30px;
}
/* writetous.html */
.inner-content {
    position: relative;
    margin: 0 auto;
    padding-top: 54px;
    padding-right: 90px;
    padding-bottom: 50px;
    padding-left: 80px;
    width: 460px;
    background: #fff;
}
.writetous-title {
    text-align: center;
    font-size: 40px;
    line-height: 52px;
}
.inner-modal-left-column {
    float: left;
    margin-right: 20px;
    width: 220px;
}
.inner-modal-right-column {
    float: right;
    width: 220px;
}
.inner-modal-right-column input,
.modal-left-column input {
    width: 186px;
}
.inner-modal textarea {
    width: 426px;
}

.inner-modal input,
.inner-modal textarea {
    padding: 8px 15px;
    outline: none;
    border: 2px solid #d7dcde;
    border-radius: 5px;
    background: -webkit-linear-gradient(left,#fff 10%,#000 100%);
    background: linear-gradient(to right,#fff 10%,#000 100%);
    font-weight: 500;
    font-size: 12px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    line-height: 18px;
}
.inner-modal textarea {
    padding-bottom: 15px;
}
.inner-modal input:hover,
.inner-modal textarea:hover {
    border: 2px solid #a2a9ac;
    border-radius: 5px;
}
.inner-modal input:focus,
.inner-modal textarea:focus {
    border: 2px solid #56bffb;
    border-radius: 5px;
}
::-webkit-input-placeholder {
    color: black;
}
::-moz-placeholder {
    color: black;
}
.inner-modal label {
    margin-bottom: 11px;
}
.inner-modal-user {
    margin-bottom: 20px;
}
.inner-modal textarea {
    margin-bottom: 45px;
}
.inner-modal-btn {
    width: 220px;
    outline: none;
}
